* {
    margin:  0;
    padding: 0;
}

body {
    font-family: "Work Sans";
    background: #F6F9FC;
}

ul {
    list-style-type:none;
}

a {
    text-decoration: none;
    color: black;
}

.event-name {
    font-weight: 500;
    margin-bottom: 4px;
}

.event-month {
    text-transform: uppercase;
}

.event-list {
    width: 50%;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    flex: 1 0 auto;
    display: flex;
    width: 80px;
    height: 80px;
    margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo h1 {

    font-size: 1.6rem;
    margin: 2rem 0;
    
}

header#main h2 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #3F7ADC;
    
}

.logo {
    margin: 2rem;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.location-icon{
    width: 14px;
    margin-right: 5px;
}

.event-day {
    display: block;
    font-size: 24px;
    font-weight: 600;
}

.event-date{
    /* border: 2px solid #9FB3D4; */
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50px;
    margin-right: 10px;
    background: #3e7adc14;

    color:  #3F7ADC
}

.event-details{
    width: 200px;
}

.event-block {
    display: flex;
    padding: 1rem 1.25rem;
    background: white;
    align-items: center;
    margin-block: 20px;
    box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
    border-radius: 8px;
    transition: 0.15s box-shadow ease;
}

.event-block:hover{
    

    box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);
}

.event-location {
    opacity: 0.5;
    display: flex;
    align-items: center;
}

h1 .light {

    font-weight: normal;
    color: #3F7ADC;
    
}

h1 {
    font-weight: bold;
    color: #78CD80;
}

h1 em {
    font-family: "Baskerville", sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 0 0.75rem 0 0.25rem;
    color: #30BEFA;
}

