* {
    margin:  0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    background: #F6F9FC;
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
}

ul {
    list-style-type:none;

    overflow: scroll;
}

a {
    text-decoration: none;
    color: black;
}

.event-name {
    font-weight: 500;
    margin-bottom: 4px;
}

.event-month {
    text-transform: uppercase;
}

.event-list {
    width: 50%;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo h1 {

    font-size: 1.6rem;
    padding:  0 1em;
    display: none;

}

header#main h2 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #3F7ADC;
    display: flex;
    justify-content: center;

}


.location-icon{
    width: 14px;
    margin-right: 5px;
}

.event-day {
    display: block;
    font-size: 24px;
    font-weight: 600;
}



.event-details{
    width: 200px;
}

.event-block {
    display: flex;
    padding: 1rem 1.25rem;
    background: white;
    align-items: center;

}

.past-event-block{
    display: flex;
    padding: 1rem 1.25rem;

    align-items: center;

    transition: 0.15s box-shadow ease;
}
.event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
    margin-bottom: 40px;
    transition: 0.15s box-shadow ease;
}

.past-event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.event-board:hover{


    box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);
}

.event-location {
    opacity: 0.5;
    display: flex;
    align-items: center;
}


.event-cover {
    display: block;
    background-blend-mode: multiply;
    background-color: #5373DC;
    max-width: 100%;
    flex: 1 1 auto;
    object-fit: cover;
}
.event-text-cover {
    height: 250px;
    background:#88ceec;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: 600;

}

.products-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 20px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
  margin-bottom: 20px;
  transition: 0.15s box-shadow ease;
  background: white;
  min-width: 310px;
  max-width: 340px;
  /* padding: 1rem 1.25rem; */

}

.products-heading {
  color: #3F7ADC;
}

.products-heading em {

  color: #3F7ADC;
}

.product-card:hover {

  box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);

}

.product-block {

  display: flex;
  padding: 1rem 1.25rem;
  /* border-bottom: 1px solid #DDE7F9; */
}

.product-details {

  padding-left: 1.25rem;
}

.product-text-content {

  padding-top: 20px;
}

.product-makers {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
}



.maker-label {
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.5;
  font-size: 12px;
}

.makers-images {

  padding-left: 1.25rem;
}

.makers-images img {

  border-radius: 50px;
  min-width: 30px;
  max-width: 34px;
  margin: 0 0.6em;
}

.product-logo {

  min-width: 60px;
  max-width: 80px;
  min-height: 60px;
  max-height: 80px;

}

.product-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;

}

.nav-section {

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  flex-direction: column;
}

.nav-section nav {

  padding: 1em 0;
}

.nav-list {

  display: flex;

}

.nav-list a {

  padding: 0 10px;
  text-transform: uppercase;
  color: #3F7ADC;
  transition: 0.15s color ease;
  font-size: 14px;
}

.nav-list a:hover {

  color: #0C075A;
}



.product-logo img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product-name {

  font-weight: 600;
  margin-bottom: 10px;
}

.product-description {

  opacity: 0.5;
  font-size: 14px;
}

.section-header {
  text-transform: uppercase;
  color: #3F7ADC;
  margin-bottom: 1em;
  font-weight: 500;
  font-size: 14px;

}

.footer-section-header {

  color: #8096AD;
}

.sections-container {

  width: 100%;
  box-sizing: border-box;

}

.sign-up-section {
  width: 100%;
}

.makers-container li:nth-child(3) {

  margin-right: 0;
}

.makers-container {

  display: flex;
  /* justify-content: space-between; */

}


.social-media-icons {
  display: flex;
  justify-content: space-between;
}

footer {

  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em 0;
  border-top: 1px solid rgba(63, 122, 220, 0.3);
  flex-direction: row;
}

h1 .light {

    font-weight: normal;
    color: #3F7ADC;

}

h1 {
    font-weight: bold;
    color: #78CD80;
}

h1 em {
    font-family: "Baskerville", sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 0 0.75rem 0 0.25rem;
    color: #30BEFA;
}

.event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;
}

.past-event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;

    z-index: 1;

}

.main-sections{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.past-events-collection{
    opacity: 0.5;
}

.website-description{
    font-size: 12pt;
    font-weight: 200;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 70px;
}

.website-details{
    width: 30%;
    box-sizing: border-box;
}



.nav-section-logo {
  display: flex;
  align-items: center;
}

.map img {

    width: 100%;

}

.map {
    width: 30%;
    display: flex;
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 1rem;
}

.event-list {
    width: 40%;
    max-width: 400px;
    min-width: 300px;
    padding-top: 50px;
}

.circle {

    position: absolute;
    width: 8px;
    height: 8px;
    background: slateblue;
    border-radius: 8px;

}

.website-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter-signup{
    width: 80%;
    margin-bottom: 50px;
}

.contact-list {

  display: flex;
  align-items: center;
  font-weight: 500;
  transition: 0.15s opacity ease;
  font-size: 14px;

  opacity: 0.6;
}

.contact-list:hover {

  opacity: 0.8;

}

.contact-list img {

  margin-right: 4px;
}

.sign-up-pull{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.sign-up-helper{
    font-size: 12px;
    opacity: 0.5;
}

.footer-section {

  margin-bottom: 1em;

}

.newsletter-signup input{

background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
box-sizing: border-box;
border-radius: 6px;
border: none;
height: 40px;
outline: none;
padding: 0px 5px;
width: 100%;

}

.signup-button{
    /* width: 100%; */
    background: #3F7ADC;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    display: flex;
    padding: 0.6rem 1rem;
    box-sizing: border-box;
    white-space: nowrap;
    font-weight: 500;

}
.signup-button-container {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.copyright-section {
    color: #9AC0FA;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.social-icon {
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon:hover {
    background: #E3EBF3;
}

.follow-us-section {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;

}

.follow-pull {
    text-transform: uppercase;
    font-weight: 600;
    color: #8096AD;
}

.follow-us-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}


.product-details-container h2 {
color: #0C075A;
font-size: 30px;
padding-bottom: 2px;
}


.product-details-container .product-description {
    font-size: 14px;
    padding: 6px 0;
    font-weight: normal;
}

.view-product-button a {
    background: #3F7ADC;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-family: "Work Sans";
    font-weight: 500;
    transition: 0.15s box-shadow ease;
    white-space: nowrap;
    box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
}

.view-product-button a:hover {

  box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);

}

.view-product-button {

  margin-top: 2em;

}

.product-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;

}
.product-head {

  width: 100%;
  box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
  margin-bottom: 20px;
  background: white;
  border-radius: 8px;
  padding: 30px;
  box-sizing: border-box;

}

.product-contacts {

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}

.product-name-details {

  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.product-text-content {
    /* width: 50%; */
}

.product-text-content a {

  color: #5388E0;
}
.product-image-container {

    border-radius: 10px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    min-width: 100px;

}

.product-image-container img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.maker-card {

  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
  margin-bottom: 20px;
  transition: 0.15s box-shadow ease;
  background: white;
  min-width: 220px;
  /* max-width: 300px; */
  margin-right: 30px;
  width: 31.1111111111%;

}

.maker-card:hover {
  box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);


}


.maker-block {

  display: flex;
  padding: 1rem 1.25rem;
}

.maker-details {
  padding-left: 1.25rem;


}

.maker-avatar {
  min-width: 40px;
  max-width: 50px;
  min-height: 40px;
  max-height: 50px;

}

.maker-avatar img {

  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.maker-name {
  font-weight: 600;
  margin-bottom: 2px;
}

.maker-role {
  opacity: 0.5;
  font-size: 14px;
}


.sign-up-helper {
    display: none;
}




@media all and (min-width: 400px) {






.product-name-details{

  flex-direction: row;
  text-align: left;
}

.product-text-content {

  padding: 0 30px;
}


.sign-up-section {

  width: 50%;
}



}

@media all and (min-width: 600px) {

    .main-sections{
        flex-direction: column;
        align-items: center;
    }

    .product-name-details {

      flex-direction: row;
      text-align: left;
    }

    .view-product-button {

      margin-top:0;
    }

    .product-details-container {

flex-direction: row;   }


    .newsletter-signup {
        width: 100%;
        margin-bottom: 25px;
    }



    .event-list {
        padding-top: 0px;
    }

    .website-details {
        flex: 1 0 auto;
        width: 100%;
        padding: 0px 10px;
    }

    .logo {
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .nav-section {
      flex-direction: row;
    }

    .website-description{
        margin-bottom: 0;
    }


    .signup-button {
        justify-content: center;
    }
    .sign-up-pull{
        justify-content: center;
    display: flex;
    }
    .follow-us-block {

        width: 100%;
    }

    .event-list {
        width: 100%;
    }

    .follow-us-section {

      width: 20%;
    }

}

@media all and (min-width: 800px) {

  .logo h1 {
      display: block;
  }



}


@media all and (max-width: 960px) {

    .map {

     display: none;

    }

    .website-details{
        width: 40%;
        padding: 50px 10px;
    }

    .event-list{
        width: 60%;
    }
    .newsletter-signup {
        width: 90%;
        margin-bottom: 50px;
    }
}

.studiobofa-link {

    color: #30BEFA;
    margin-left: 4px;

}

.whatsapp-group {

    background: #79CF81;

}

.telegram-broadcast {

    background: #30BEFA;
    color: white;
}



@media all and (min-width: 960px) {

    .product-card {

    width: 29.1666666667%;
    min-width: 210px;
    max-width: 280px;
  }



}
