* {
    margin:  0;
    padding: 0;
}

body {
    font-family: "Work Sans";
    background: #F6F9FC;
}

ul {
    list-style-type:none;
    height: 100%;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: black;
}

.event-name {
    font-weight: 500;
    margin-bottom: 4px;
}

.event-month {
    text-transform: uppercase;
}

.event-list {
    width: 50%;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo img {
    flex: 1 0 auto;
    display: flex;
    width: 80px;
    height: 80px;
    margin-right: 0.5rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo h1 {

    font-size: 1.6rem;
    margin: 2rem 0;
    
}

header#main h2 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #3F7ADC;
    display: flex;
    justify-content: center;
    
}

.logo {
    margin: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.location-icon{
    width: 14px;
    margin-right: 5px;
}

.event-day {
    display: block;
    font-size: 24px;
    font-weight: 600;
}

.event-date{
    /* border: 2px solid #9FB3D4; */
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 50px;
    margin-right: 10px;
    background: #3e7adc14;

    color:  #3F7ADC
}

.event-details{
    width: 200px;
}

.event-block {
    display: flex;
    padding: 1rem 1.25rem;
    background: white;
    align-items: center;
    
    
}

.past-event-block{
    display: flex;
    padding: 1rem 1.25rem;

    align-items: center;
    
    transition: 0.15s box-shadow ease; 
}
.event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
    margin-bottom: 40px;
    transition: 0.15s box-shadow ease;
}

.past-event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.event-board:hover{
    

    box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);
}

.event-location {
    opacity: 0.5;
    display: flex;
    align-items: center;
}

.event-cover{
    display: block;
    filter: sepia(100%) saturate(70%) brightness(80%) hue-rotate(-200deg);
}
h1 .light {

    font-weight: normal;
    color: #3F7ADC;
    
}

h1 {
    font-weight: bold;
    color: #78CD80;
}

h1 em {
    font-family: "Baskerville", sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 0 0.75rem 0 0.25rem;
    color: #30BEFA;
}

.event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    text-shadow: 1px 1px 4px #00000045;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;
    background: #00000014;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 10px;
    border: 2px solid white;
}

.past-event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    text-shadow: 1px 1px 4px #00000045;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;
    background: #00000014;
    color: #ffffff;

    z-index: 1;
   
}

.boards{
    display: flex;
    height: 100%;
}

.past-events-collection{
    opacity: 0.5;
}

.website-description{
    font-size: 12pt;
    font-weight: 200;
    opacity: 0.5;
    margin-bottom: 20px;
}