* {
    margin:  0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    background: #F6F9FC;
}

ul {
    list-style-type:none;

    overflow: scroll;
}

a {
    text-decoration: none;
    color: black;
}

.event-name {
    font-weight: 500;
    margin-bottom: 4px;
}

.event-month {
    text-transform: uppercase;
}

.event-list {
    width: 50%;

}

.website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo h1 {

    font-size: 1.6rem;
    
}

header#main h2 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #3F7ADC;
    display: flex;
    justify-content: center;
    
}


.location-icon{
    width: 14px;
    margin-right: 5px;
}

.event-day {
    display: block;
    font-size: 24px;
    font-weight: 600;
}



.event-details{
    width: 200px;
}

.event-block {
    display: flex;
    padding: 1rem 1.25rem;
    background: white;
    align-items: center;
    
    
}

.past-event-block{
    display: flex;
    padding: 1rem 1.25rem;

    align-items: center;
    
    transition: 0.15s box-shadow ease; 
}
.event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
    margin-bottom: 40px;
    transition: 0.15s box-shadow ease;
}

.past-event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.event-board:hover{
    

    box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);
}

.event-location {
    opacity: 0.5;
    display: flex;
    align-items: center;
}

.event-cover{
    display: block;
    filter: sepia(100%) saturate(100%) brightness(100%) contrast(120%)  hue-rotate(-200deg)
}
h1 .light {

    font-weight: normal;
    color: #3F7ADC;
    
}

h1 {
    font-weight: bold;
    color: #78CD80;
}

h1 em {
    font-family: "Baskerville", sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 0 0.75rem 0 0.25rem;
    color: #30BEFA;
}

.event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;
}

.past-event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;

    z-index: 1;
   
}

.main-sections{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.past-events-collection{
    opacity: 0.5;
}

.website-description{
    font-size: 12pt;
    font-weight: 200;
    opacity: 0.8;
    margin-top: 10px;
}

.website-details{
    width: 30%;
    box-sizing: border-box;
}

.logo {
    margin-top: 25px;
    margin-bottom: 50px;
}

.map img {

    width: 100%;

}

.map {
    width: 30%;
    display: flex;
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 1rem;
}

.event-list {
    width: 40%;
    max-width: 400px;
    min-width: 300px;
    padding-top: 50px;
}

.circle {

    position: absolute;
    width: 8px;
    height: 8px;
    background: slateblue;
    border-radius: 8px;
    
}

.website-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter-signup{
    width: 80%;
    margin-bottom: 50px;
}

.sign-up-pull{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.sign-up-helper{
    font-size: 13px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.newsletter-signup input{

background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
box-sizing: border-box;
border-radius: 6px;
border: none;
height: 40px;
outline: none;
padding: 0px 5px;
width: 100%;

}

.signup-button{
    width: 100%;  
    background: #3F7ADC;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    display: flex;
    padding: 1rem;
}

.copyright {
    color: #9AC0FA;
    padding: 1rem 0;
    font-size: 0.75rem;
}

@media all and (max-width: 960px) {

    .map {
  
     display: none;
  
    }

    .website-details{
        width: 40%;
        padding: 50px 10px;
    }

    .event-list{
        width: 60%;
    }
    .newsletter-signup {
        width: 90%;
        margin-bottom: 50px;
    }
}

.studiobofa {

    color: #30BEFA;
    
}

.whatsapp-group {

    background: #79CF81;
    
}

.telegram-broadcast {
    
    background: #30BEFA;
    color: white;
}

@media all and (max-width: 600px) {

    .main-sections{
        flex-direction: column;
        align-items: center;
    }

    .newsletter-signup {
        display: none;
    }

    .copyright {
        display: none;
    }

    .event-list {
        padding-top: 0px;
    }
    
}
