* {
    margin:  0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    background: #F6F9FC;
    max-width: 960px;
    margin: 0 auto;
}

ul {
    list-style-type:none;

    overflow: scroll;
}

a {
    text-decoration: none;
    color: black;
}

.event-name {
    font-weight: 500;
    margin-bottom: 4px;
}

.event-month {
    text-transform: uppercase;
}

.event-list {
    width: 50%;
}

.website {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo h1 {

    font-size: 1.6rem;

}

header#main h2 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #3F7ADC;
    display: flex;
    justify-content: center;

}


.location-icon{
    width: 14px;
    margin-right: 5px;
}

.event-day {
    display: block;
    font-size: 24px;
    font-weight: 600;
}



.event-details{
    width: 200px;
}

.event-block {
    display: flex;
    padding: 1rem 1.25rem;
    background: white;
    align-items: center;

}

.past-event-block{
    display: flex;
    padding: 1rem 1.25rem;

    align-items: center;

    transition: 0.15s box-shadow ease;
}
.event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
    margin-bottom: 40px;
    transition: 0.15s box-shadow ease;
}

.past-event-board{
    margin: 20px;
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.event-board:hover{


    box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);
}

.event-location {
    opacity: 0.5;
    display: flex;
    align-items: center;
}


.event-cover {
    display: block;
    background-blend-mode: multiply;
    background-color: #5373DC;
    max-width: 100%;
    flex: 1 1 auto;
    object-fit: cover;
}
.event-text-cover {
    height: 250px;
    background:#88ceec;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: 600;

}

.products-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 20px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(196, 207, 218, 0.45);
  margin-bottom: 20px;
  transition: 0.15s box-shadow ease;
  background: white;
  min-width: 310px;
  max-width: 340px;
  /* padding: 1rem 1.25rem; */

}

.products-heading {
  color: #3F7ADC;
}

.products-heading em {

  color: #3F7ADC;
}

.product-card:hover {

  box-shadow: 0px 10px 12px rgba(196, 207, 218, 0.45);

}

.product-block {

  display: flex;
  padding: 1rem 1.25rem;
  /* border-bottom: 1px solid #DDE7F9; */
}

.product-details {

  padding-left: 1.25rem;
}

.product-makers {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
}



.maker-label {
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.5;
  font-size: 12px;
}

.makers-images {

  padding-left: 1.25rem;
}

.makers-images img {

  border-radius: 50px;
  min-width: 30px;
  max-width: 34px;
  margin: 0 0.6em;
}

.product-logo {

  min-width: 60px;
  max-width: 80px;
  min-height: 60px;
  max-height: 80px;

}

.product-section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.product-logo img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.product-name {

  font-weight: 600;
  margin-bottom: 10px;
}

.product-description {

  opacity: 0.5;
  font-size: 14px;
}
h1 .light {

    font-weight: normal;
    color: #3F7ADC;

}

h1 {
    font-weight: bold;
    color: #78CD80;
}

h1 em {
    font-family: "Baskerville", sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 0 0.75rem 0 0.25rem;
    color: #30BEFA;
}

.event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;
}

.past-event-date{
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin-right: 10px;

    z-index: 1;

}

.main-sections{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.past-events-collection{
    opacity: 0.5;
}

.website-description{
    font-size: 12pt;
    font-weight: 200;
    opacity: 0.8;
    margin-top: 10px;
    margin-bottom: 70px;
}

.website-details{
    width: 30%;
    box-sizing: border-box;
}

.logo {
    margin-top: 25px;
    margin-bottom: 50px;
}

.products-section-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.map img {

    width: 100%;

}

.map {
    width: 30%;
    display: flex;
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    margin-left: 1rem;
}

.event-list {
    width: 40%;
    max-width: 400px;
    min-width: 300px;
    padding-top: 50px;
}

.circle {

    position: absolute;
    width: 8px;
    height: 8px;
    background: slateblue;
    border-radius: 8px;

}

.website-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsletter-signup{
    width: 80%;
    margin-bottom: 50px;
}

.sign-up-pull{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.sign-up-helper{
    font-size: 13px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.newsletter-signup input{

background: #FFFFFF;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
box-sizing: border-box;
border-radius: 6px;
border: none;
height: 40px;
outline: none;
padding: 0px 5px;
width: 100%;

}

.signup-button{
    width: 100%;
    background: #3F7ADC;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;

}

.copyright {
    color: #9AC0FA;
    padding: 1rem 0;
    font-size: 0.75rem;
}

.social-icon {
    padding: 10px;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon:hover {
    background: #E3EBF3;
}

.follow-pull {
    text-transform: uppercase;
    font-weight: 600;
    color: #8096AD;
}

.follow-us-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}


@media all and (max-width: 960px) {

    .map {

     display: none;

    }

    .website-details{
        width: 40%;
        padding: 50px 10px;
    }

    .event-list{
        width: 60%;
    }
    .newsletter-signup {
        width: 90%;
        margin-bottom: 50px;
    }
}

.studiobofa-link {

    color: #30BEFA;

}

.whatsapp-group {

    background: #79CF81;

}

.telegram-broadcast {

    background: #30BEFA;
    color: white;
}

@media all and (min-width: 960px) {

  .product-card {

    width: 29.1666666667%;
    min-width: 210px;
    max-width: 280px;
  }


}

@media all and (max-width: 560px) {

    .main-sections{
        flex-direction: column;
        align-items: center;
    }

    .newsletter-signup {
        width: 100%;
        margin-bottom: 25px;
    }

    .copyright {
        display: none;
    }

    .event-list {
        padding-top: 0px;
    }

    .website-details {
        flex: 1 0 auto;
        width: 100%;
        padding: 0px 10px;
    }

    .logo {
        margin: 20px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .logo h1 {
        display: none;
    }

    .website-description{
        margin-bottom: 0;
    }

    .sign-up-helper {
        display: none;
    }
    .signup-button {
        padding: 0.5rem;
        justify-content: center;
    }
    .sign-up-pull{
        justify-content: center;
    display: flex;
    }
    .follow-us-block {

        width: 100%;
    }

    .event-list {
        width: 100%;
    }

}

.product-details-container h2 {
color: #0C075A;
font-size: 30px;
}


.product-details-container .product-description {
    font-size: 14px;
    font-weight: 500;
}

.view-product-button button{
    background: #3F7ADC;
    border: none;
    padding: 5px;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    font-family: "Work Sans";
}

.product-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.product-text-content {
    width: 50%;
}
.product-image-container {

    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}

.product-image-container img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}